<%-include("header")-%>
  <div class="box" id="heading">
      <h1><%=listTitle%></h1>
    </div>

      <div class="box">
      <%newListItems.forEach(function(items)
      {%>
        <form class="delete" action="/delete" method="post">
        <div class="item">
        <input type="checkbox" name="deleteItem" value="<%=items._id%>" onChange="this.form.submit()">
        <p><%= items.name%></p>
        </div>
        <input type="hidden" name="listname" value="<%= listTitle%>"></input>  <!--the hidden input doesn't pass value to the user but on the ser er side we can use it's value -->
        </form>
      <%})%>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" value="" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
      </form>
    </div>
<%-include("footer")-%>
